<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reuseable_CI_CD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        td {
          text-align: left;
        }
    </style>
</head>
<body class="bg-light">
<div class="container">
<h1>Enter Data to clone Git Repository</h1>

<form action="/submit" id="myform" , METHOD="POST">
    <table border="10" style="width:80%">
    <tr>
        <td colspan="2" style="text-align:center"> <label for="Project_name"><strong>Project Name:</strong></label>
            <input type="text" id="Project_name" name="Project_name" style="width:50%"> 
        </td>
    </tr>
    <tr>
    <td>	<label for="Authenticate"><strong>Authentication:</strong></label>
                  <select class="u-full-width" id="Authenticate" name="Authenticate" style="width:40%"><br><br>
                  <option value="GitHub">GitHub</option>
                  <option value="GitLab">GitLab</option>
                  <option value="AzureRepo">AzureRepo</option>
              
              </select>
    </td>
    <td>
        <label for="Authenticate1"><strong>Tool:</strong></label>
        <select class="u-full-width" id="Authenticate1" name="tool" style="width:40%"><br><br>
        <option value="Liferay">Liferay</option>
       
    
             </select>


    </td>
    </tr>
        
    <tr>
        <td><label for="Git Url"><strong>Git Url:</strong></label>
            <input type="text" id="Git_Url" name="Git_Url" style="width:40%">
        </td>
        <td><label for="Branch Name"><strong>Branch Name:</strong></label>
                <input type="text" id="Branch_Name" name="Branch_Name" style="width:40%">
        </td>
    </tr>
    <tr>
           <td> <label for="username"><strong>Username:</strong></label>
                <input type="text" id="username" name="username" style="width:40%">
        </td>
            <td><label for="Token"><strong>Token:</strong></label>
                <input type="text" id="token" name="token" style="width:40%">
        </td>
    </tr>
    <tr>
    <td style="text-align:center" colspan="2"><input type="submit" value="Build" class="submit_btn btn btn-success" id="submit_btn"></td>

    </tr>
    </table>
    </form>

<br/>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/static/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>


</html>